@model IEnumerable<Jukeboxmpa.Models.Playlist>

<h2>Mijn Playlists</h2>

@if (!Model.Any())
{
    <p>Je hebt nog geen playlists.</p>
}
else
{
    <ul>
        @foreach (var playlist in Model)
        {
            <li>
                @playlist.Name
                @if (playlist.IsPublic) { <span class="badge bg-success">Openbaar</span> }
            </li>
        }
    </ul>
}
